Flask
conda
bs4
frozendict
geopy
ipython==7.16.3
kafka-python
matplotlib
numpy
py4j
pyelasticsearch
pymongo
requests
scipy
selenium
sklearn
tabulate
tldextract
wikipedia
findspark
iso8601
notebook==6.1.5
beautifulsoup4
networkx
jupyter
nltk
gensim
futures
deepwalk
tornado==4.5.3